<div class="jumbotron">
  <h1 class="display-4">Proyecto de Inventarios!</h1>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Iniciar Sesión', new_user_session_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
